<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>EPIC SALON | Ernest Bruno</title>
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>WELCOME TO SNAPPY SNIPS</h1>
            </div>
        </div>

        @RenderBody()
        <footer>Epicodus (C) Ernest Bruno, 2018</footer>
    </body>
</html>
