@{
  Layout = "_Layout";
}

<div class="container" id="infoContainer">
  <div class="row">
    <div class="col-md-12">
      <h1>@Model.GetName()</h1>
      <hr>
      <h2>Specialty: @Model.GetSpecialty()</h2>
      <h2>Phone Number: @Model.GetPhoneNumber()</h2>
      <br>
      @if (Model.GetAllClients().Count == 0)
      {
          <h1> NO CLIENTS YET! </h1>
          <hr>
          <div class="container" id="formContainer">
            <div class="row">
              <div class="col-md-12">
                <h2>ADD A CLIENT FOR THIS STYLIST</h2>
                <hr>
                <form action="/Client/Create/@Model.GetId()" method="post">
                  <div class="flex">
                    <div class="form-group inline-block">
                      <label for="clientName">Name: </label>
                      <input type="text" name="clientName" id="clientName">
                    </div>
                    <div class="form-group inline-block">
                      <label for="clientNumber">Phone Number: </label>
                      <input type="text" name="clientNumber">
                    </div>
                  </div>
                  <button type="submit" class="btn">Submit</button>
                </form>
                <hr>
              </div>
            </div>
          </div>
      }
      else
      {
          <h3>Clients</h3>
          <hr>
            @foreach (var client in Model.GetAllClients())
            {
            <div class="row">
                <div class="col-md-7">
                  <a href="/Client/Info/@ViewBag.StylistId/@client.GetId()"><h4>@client.GetName()</h4></a>
                </div>
                <div class="col-md-5">
                  <a href="/Client/Delete/@ViewBag.StylistId/@client.GetId()"><button type="button" class="btn"> Remove </button></a>
                </div>
            </div>
            <hr>
            }
            <hr>
            <h2>ADD ANOTHER CLIENT FOR THIS STYLIST</h2>
            <hr>
            <form action="/Client/Create/@Model.GetId()" method="post">
              <div class="flex">
                <div class="form-group inline-block">
                  <label for="clientName">Name: </label>
                  <input type="text" name="clientName" id="clientName">
                </div>
                <div class="form-group inline-block">
                  <label for="clientNumber">Phone Number: </label>
                  <input type="text" name="clientNumber">
                </div>
              </div>
              <button type="submit" class="btn">Submit</button>
            </form>
            <hr>
      }
    </div>
  </div>
  <div class="row">
      <div class="col-md-12">
          <a href="/"><button type="button" class="btn">View All Stylists!</button></a>
      </div>
  </div>
</div>
