@{
    Layout = "_Layout";
}


<hr>

<div class="container" id="indexContainer">
    <div class="row">
        <div class="col-md-12">
            <h1>STYLISTS</h1>
            <hr>
            <ul>
                @foreach (var stylist in Model)
                {
                    <a href="/Stylist/Info/@stylist.GetId()"><li>@stylist.GetName()</li></a>
                }
            </ul>
        </div>
    </div>
</div>
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <a href="/Stylist/Form"><button type="button" class="btn">Hire Stylist</button></a>
        </div>
        <div class="col-md-3">
            <a href="/Specialties/ViewAll"><button type="button" class="btn">View Specialties & Specialists</button></a>
        </div>
        <div class="col-md-3">
            <a href="/Clients/ViewAll"><button type="button" class="btn">View Clients</button></a>
        </div>
        <div class="col-md-3">
            <a href="/Delete_All"><button type="button" class="btn">Go Bankrupt</button></a>
        </div>
    </div>
</div>
