@{
    Layout = "_Layout";
}

<div class="container" id="indexContainer">
    <div class="row">
        <div class="col-md-12">
            <h1>CLIENTS</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3>Name</h3>
        </div>
        <div class="col-md-4">
            <h3>Phone Number</h3>
        </div>
        <div class="col-md-4">
            <h3>Stylist</h3>
        </div>
    </div>
    <hr>
            @foreach (var client in Model)
            {
                <div class="row">
                    <div class="col-md-4">
                        <h3>@client.GetName()</h3>
                    </div>
                    <div class="col-md-4">
                        <h3>@client.GetPhoneNumber()</h3>
                    </div>
                    <div class="col-md-4">
                        <h3>@client.GetAssignedStylist()</h3>
                    </div>
                </div>
            }
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <a href="/"><button type="button" class="btn">View All Stylists!</button></a>
                </div>
            </div>
</div>
